div.bookmark {
    margin: 0 0 0.5em 0;
    }
div.bookmark_blue {
    background-image: -webkit-gradient(linear,left top, left bottom,
    color-stop(0%,#008CBF),
    color-stop(100%, #009ED6));
    }
div.bookmark_green {
    background-image: -webkit-gradient(linear,left top, left bottom,
    color-stop(0%,#73A343),
    color-stop(100%, #82B94D));
    }
div.bookmark_red {
    background-image: -webkit-gradient(linear,left top, left bottom,
    color-stop(0%,#BF3030),
    color-stop(100%, #CD332B));
    }
div.bookmark_blue,
div.bookmark_green,
div.bookmark_red {
    height:1.4em;
    position:absolute;
    right:1em;
    top:relative;
    width:1.25em;
    z-index:1;
    }
div.bookmark_blue:after,
div.bookmark_green:after,
div.bookmark_red:after {
    border:0.625em solid transparent;   /* Half of div.bookmark_x width */
    border-bottom-color:#E8E8E8;    /* Should be the same as table.bookmark color-stop 1 */
    bottom:0;
    content:"";
    display:block;
    position:absolute;
    }
div.book_note {
    background: -webkit-linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #CCC;
    margin: 1em auto;
    padding: 1em;
    position: relative;
    -webkit-border-radius: 4px;
    }
p.book_note {
    margin: 0;
    }
p.bookmark_note {
    margin: 0 0 6 0;
    }
table.bookmark {
    background-image: -webkit-gradient(radial, center center, 0, center center, 100,
     color-stop(0, #F8F8F8), color-stop(1, #E8E8E8));
    color:black;
    font-size:90%;
    font-weight:bold;
    margin-bottom:6px;
    padding:0px;
    position:relative;
    top:1px;
    -webkit-border-radius:4px;
    width:100%;
    }
table.bookmark td.location {
    text-align:center;
    }
